

html{
	margin: 0;
	padding: 0;
	font-family: serif;
	font-size: 62.5%;
}

header {
	background-color: #aaa;
	color: white;
	width: 100%;
	text-align: center;
	font-size: 4rem;
	margin-bottom: 5rem;
}

body {
	background-color: #ccc;
}


article {
	margin-bottom: 50px;
	margin-left: 16px;
}

article p{
	font-size: 2rem;
	width: 250px;
}

article h2 {
	font-size: 2.5rem;
	margin-bottom: 16px;
	margin-top: 16px;
}

article ul {
	font-size: 2.0rem;
	padding-left: 40px;
	margin-bottom: 16px;
	margin-top: 16px;
}

footer {
	vertical-align: bottom;
	background-color: #aaa;
	width: 100%;
	text-align: center;
	font-size: 3rem;
	padding: 7px 0 3px 0;
}

footer p {
	vertical-align: middle;
	color: white;
	height: 5vh;
}

@media (min-width: 769px) {
  
	body {
	  color: #333;
	}
  
	p, h3, li, a {
	  color: #333;
	}
  
  }

  @media (max-width: 768px) {

	body {
		background-color: teal;
	}

	nav {
	  width: 30vw;
	}
  
	article {
	  width: 70vw;
	}
	
  }

  @media (max-width: 425px){

	*{
		padding: 0;
		margin: 0;
	}

	body {
		background-color: teal;
	}

    nav,
    article,
    header,
	footer {
      width: 100%;
      min-width: 320px;S
    }
}